*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//VARIABLES
@import './variables/colores';
@import './variables/fonts';
@import './variables/extend';
@import './variables/maps';
@import './variables/mixin';
@import './variables/botones';
@import './variables/medias';


// UTILIDADES
@import './utilidades/body';
@import './utilidades/header';
@import './utilidades/main';
@import './utilidades/banner';
@import './utilidades/footer';
@import './utilidades/productos';

//SECCIONES
@import './secciones/contacto';
