//BACKGROUND
$color-header:#D8E3E7;
$color-body: #ffffff;
$color-titulo: linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(216,227,231,1) 60%);
$color-footer: #E0ECF8;

//COLORES TEXTO
$color-text-titulo: #000000;
$color-text-nav-hover: #524932;
$color-text-nav: #000000;
$color-text-secciones: #fff;
$color-text-productos-item: grey;
$color-text-footer: #000000;
$color-text-sec2: #000000;
$color-banner: #3c3e3f;


//Sombras
$color-shadows-text: #5a5e62;
$color-shadows-img: #dee2e6;