@font-face {
    font-family: 'Abril Fatface', cursive;
    src: url(../../fonts/AbrilFatface-Regular.ttf);
}
$font-family-h1: 'Lobster', cursive;
$font-family-titulo: 'Abril Fatface', cursive;
$font-family-nav: 'Abril Fatface', cursive;
$font-family-prod: 'Abril Fatface', cursive;
$font-family-section: 'Roboto Serif', sans-serif;
$font-family-form: 'Abril Fatface', cursive;