.contacto {
    background-color: $color-body-contacto;

    .titulo {
        padding-top: 20px;
        h1 {
            @extend %estiloTitulo;
            margin-bottom: 0;
            margin: 5px 0px 5px;
        }
    }

    .form {
        @extend %estiloForm;
        input, textarea{
            font-size: 0.6rem;
        }
        padding-top: 20px;
    }
}