.header {
    background-color: $color-header;
    padding: 5px;

    .navbar-nav {
        align-items: flex-end;
        list-style: none;

        .nav-link {
            @extend %estiloNav;
            
            &:hover {
                color: $color-text-nav-hover !important;
            }
        }
    }
}