.main {
    .carousel {
        padding: 10px 0px;

        .carousel-inner {
            .carousel-item {
                img {
                    height: auto;
                    width: 100%;
                }
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            visibility: hidden;
        }
    }

    .titulo {
        height: 7vh;
        padding: 5px 0;

        h1 {
            @extend %estiloTitulo;
            margin-bottom: 0;
            margin: 5px 0px 5px;
        }
    }

    .section1 {
        flex-direction: column;
        align-items: center;

        .sec1_prod {
            align-content: center;

            .section1_prod {
                position: relative;

                padding: 10px !important;
                transition: transform .9s;

                .section1_text {
                    @extend %estiloSectionText;

                    a {
                        color: $color-text-secciones;
                        text-decoration: none;
                    }
                }

                &:hover {
                    transform: scale(1.02);
                }
            }
        }
    }

    .section2 {
        padding: 5px;

        .section2_text {
            align-self: center;

            p {
                @include estiloFonts($font-family-section, 0.75rem, $color-text-sec2);
                margin: 5px;
                text-align: center;
            }
        }

        .video-responsive {
            position: relative;
            display: flex;
            padding: 5px;
            justify-content: center;
            align-items: center;

            .video {
                width: 100%;
                border-radius: 10px;
            }
        }
    }
}