.productos {
    
    .productos_item {
        padding-bottom: 15px;

        .card {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            height: 480px;
            img{
                height: 350px;
            }
            p{
                margin: 0;
            }
        }
    }
}